/* COMMON */


header { 
  background-color:darkgray;
  color: black;
}

header h3 {
  font-size: 13px;
}

header button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border-color: skyblue;
}