/* COMMON */
header { 
  color: black;
  font-family: 'Nanum Gothic', sans-serif;
}

header .header-box{
  width: 60vw;
  margin : 0 auto;
  background-color:rgb(232, 236, 239);
  height : 250px;
  margin: 0 auto;
}

header .header-box .header-contents {
  width: 55vw;
  position: absolute;
  top: 30px;
  padding : 0 30px;
}

header .header-box .header-contents h3 {
  font-size: 13px;
  margin: 15px 0;
}

header .header-box .header-contents button {
  background-color:rgb(0, 119, 255);
  color: #fff;
  border-radius: 5px;
  border-color: #0064FF;
  margin-top: 20px;
  height: 35px;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

button {
  cursor: pointer;
}

/* CARD */
.card-list {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60vw;
  margin: 0 auto;
}

.card-list .card{
  background-color: orange;
  
}




