/* COMMON */
header { 
  color: black;
  font-family: 'Nanum Gothic', sans-serif;
}

header .header-box{
  width: 60%;
  margin : 0 auto;
  background-color:rgb(232, 236, 239);
  height : 250px;
  margin: 0 auto;
}

header .header-box .header-contents {
  width: 55%;
  position: absolute;
  top: 30px;
  padding : 0 30px;
}

header .header-box .header-contents h3 {
  font-size: 13px;
  margin: 15px 0;
}

header .header-box .header-contents button {
  background-color:rgb(0, 119, 255);
  color: #fff;
  border-radius: 5px;
  border-color: #0064FF;
  margin-top: 20px;
  height: 35px;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

button {
  cursor: pointer;
}

/* CARD */
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60%;
  margin: 0 auto;
}

.card-list .card{
  margin: 10px;
  box-sizing : border-box;
  width : 250px;
  border : 1px black solid;
}

.card-list .card img {
  height: 300px;
  width : 100%;
}

.card-list .card .title {
  color: rgba(59, 59, 245, 0.993);
}

.card-list .card .contents {
  margin: 5px 0;
}





